@import "tailwindcss";
html, body, * {
  direction: ltr !important;
  unicode-bidi: plaintext !important;
  text-align: left;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 8s linear infinite;
}